.first-section {
   background-color: #2E2F42;
   color: #FFFFFF;
   text-align: center;
}
button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}
button:hover,
button:focus {
    background-color: #404BBF;
}
.hb {
    color: #2e2f42;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.hbl {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.17;
}
a {
    text-decoration: none;
    color: #434455;
}
.b {
    color: #f4f4fd;
}
ul {
    font-style: normal;
	list-style-type: none;
}
main p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
footer a {
    line-height: 1.17;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}
.third-section {
    background-color: #F4F4FD;
    text-align: center;
    font-size: 16px;
}
h2 {
    line-height: 1.11;
    color:#2e2f42;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}
.third-section ul {
    background-color: #FFFFFF;
}
.third-section {
    background-color: #E7E9FC;
}
h1 {
    line-height: 1.07;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
}
address {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
address:hover,
address:focus {
    color: #404bbf;
}
h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
}
h1:hover {
    text-decoration: underline;
    text-decoration-color: #00c9ff;
}
body {
    font-family: "Roboto", sans-serif;
    color:#434455;
    background-color: #FFFFFF;
}